* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'SFDisplay';
  src: url("../fonts/font/SF-regular.ttf"); }

@font-face {
  font-family: 'SFDisplay-semibold';
  src: url("../fonts/font/SF-semibold.ttf") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: 'SFDisplay-medium';
  src: url("../fonts/font/SF-medium.ttf") format("ttf");
  font-weight: 500; }

@font-face {
  font-family: 'SFDisplay-heavy';
  src: url("../fonts/font/SF-heavy.ttf") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: 'SFDisplay-light';
  src: url("../fonts/font/SF-light.ttf") format("ttf");
  font-weight: 400; }

@font-face {
  font-family: 'SFDisplay-bold';
  src: url("../fonts/font/SF-bold.ttf") format("ttf");
  font-weight: bold; }

body {
  margin: 0;
  padding: 0;
  font-family: SFDisplay,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; }

.wrapper {
  width: 100%;
  overflow: hidden; }
  .wrapper .banner {
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 825px;
    padding-top: 40px; }
    .wrapper .banner .navigate {
      width: 95%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 180px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .wrapper .banner .navigate .logo a img {
        width: 100%;
        height: auto; }
      .wrapper .banner .navigate .center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .banner .navigate .center ul li {
          display: inline-block;
          margin-left: 100px; }
          .wrapper .banner .navigate .center ul li:first-child {
            margin-left: 0; }
          .wrapper .banner .navigate .center ul li a {
            font-family: SFDisplay-semibold,sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: white; }
      .wrapper .banner .navigate .right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .banner .navigate .right ul li {
          display: inline-block; }
          .wrapper .banner .navigate .right ul li a img {
            max-width: 100%;
            height: auto; }
          .wrapper .banner .navigate .right ul li .icon {
            color: white;
            font-size: 30px;
            display: none; }
        .wrapper .banner .navigate .right ul .language {
          margin-left: 30px; }
        .wrapper .banner .navigate .right #side-bar {
          z-index: 999;
          position: fixed;
          right: -334px;
          top: 0;
          height: 100%;
          overflow: hidden;
          -webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear; }
          .wrapper .banner .navigate .right #side-bar.active {
            right: 0; }
          .wrapper .banner .navigate .right #side-bar .close-sidebar {
            float: left;
            width: 50px;
            height: 50px;
            background: #464242;
            color: white;
            font-size: 25px;
            text-align: center;
            font-weight: 400;
            cursor: pointer; }
          .wrapper .banner .navigate .right #side-bar .menu {
            float: left;
            background-color: black;
            height: 100%; }
            .wrapper .banner .navigate .right #side-bar .menu ul li {
              display: block;
              padding-left: 80px;
              padding-right: 80px;
              margin-bottom: 20px; }
              .wrapper .banner .navigate .right #side-bar .menu ul li:first-child {
                margin-top: 20px; }
              .wrapper .banner .navigate .right #side-bar .menu ul li:hover a {
                color: gray; }
              .wrapper .banner .navigate .right #side-bar .menu ul li a {
                color: white;
                font-family: SFDisplay-semibold,sans-serif;
                font-size: 30px;
                font-weight: 400; }
    .wrapper .banner #navigate {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .wrapper .banner #navigate.active {
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        position: fixed;
        width: 100%;
        background-color: #73545987;
        top: 0;
        z-index: 99;
        padding: 10px 50px; }
    .wrapper .banner .banner-down .container .title {
      font-weight: 600;
      font-size: 98px;
      margin-bottom: 60px;
      display: inline-block; }
      .wrapper .banner .banner-down .container .title #top {
        margin-bottom: -50px; }
        .wrapper .banner .banner-down .container .title #top::after {
          content: "";
          width: 15px;
          height: 15px;
          display: inline-block;
          background-color: #f26522;
          border-radius: 50%;
          margin-left: -10px; }
    .wrapper .banner .banner-down .container .desc {
      font-size: 20px;
      width: 380px;
      display: inline-block; }
  .wrapper .navigate {
    margin-bottom: 105px; }
    .wrapper .navigate .pd-0 {
      padding: 0; }
      .wrapper .navigate .pd-0 .content {
        width: 100%;
        background-color: #dfd9da;
        height: 256px;
        padding-left: 55px;
        padding-top: 20px; }
        .wrapper .navigate .pd-0 .content img {
          max-width: 100%;
          height: auto;
          margin-bottom: 27px; }
        .wrapper .navigate .pd-0 .content .item .text {
          margin-bottom: 35px; }
          .wrapper .navigate .pd-0 .content .item .text .title {
            font-family: SFDisplay-semibold,sans-serif;
            font-size: 24px;
            font-weight: bold; }
          .wrapper .navigate .pd-0 .content .item .text .desc {
            font-family: SFDisplay-medium,sans-serif;
            font-weight: 500; }
        .wrapper .navigate .pd-0 .content .line {
          width: 30px;
          height: 5px;
          background-color: #ff9400; }
      .wrapper .navigate .pd-0 .mobile {
        background-color: #e39c55;
        padding-right: 85px; }
        .wrapper .navigate .pd-0 .mobile .item {
          overflow: hidden; }
          .wrapper .navigate .pd-0 .mobile .item .text {
            float: left; }
          .wrapper .navigate .pd-0 .mobile .item .image {
            float: right; }
            .wrapper .navigate .pd-0 .mobile .item .image img {
              width: 100%;
              height: auto; }
  .wrapper .main {
    width: 100%;
    position: relative; }
    .wrapper .main .main-up .project {
      width: 31%;
      float: left;
      padding-top: 50px; }
      .wrapper .main .main-up .project .note-right {
        margin-bottom: 60px; }
        .wrapper .main .main-up .project .note-right span {
          font-family: SFDisplay-medium,sans-serif;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          vertical-align: middle; }
        .wrapper .main .main-up .project .note-right .line {
          display: inline-block;
          width: 20px;
          height: 2px;
          background-color: #01b1e0;
          margin-right: 15px; }
      .wrapper .main .main-up .project .title {
        font-family: SFDisplay-heavy,sans-serif;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 60px; }
        .wrapper .main .main-up .project .title::after {
          content: "";
          display: inline-block;
          width: 9px;
          height: 9px;
          background-color: #01b1e0;
          border-radius: 50%;
          margin-left: -7px; }
      .wrapper .main .main-up .project .detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .wrapper .main .main-up .project .detail .item {
          margin-bottom: 80px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrapper .main .main-up .project .detail .item .icon {
            margin-right: 30px; }
            .wrapper .main .main-up .project .detail .item .icon img {
              max-width: 100%;
              height: auto; }
          .wrapper .main .main-up .project .detail .item .text .number {
            font-family: SFDisplay-semibold,sans-serif;
            font-size: 50px;
            font-weight: bold;
            color: #01b1e0; }
          .wrapper .main .main-up .project .detail .item .text .result {
            font-family: SFDisplay,sans-serif;
            font-size: 19.98px;
            font-weight: 400;
            color: #242f4b; }
    .wrapper .main .main-up .slide {
      width: 69%;
      float: left;
      position: relative; }
      .wrapper .main .main-up .slide .owl-nav .owl-prev {
        display: none; }
      .wrapper .main .main-up .slide .owl-nav .owl-next {
        content: url("../images/button_next.png");
        display: inline-block;
        position: absolute;
        bottom: 45px;
        right: -44px; }
      .wrapper .main .main-up .slide .img-next {
        display: inline-block;
        position: absolute;
        bottom: 45px;
        right: 0;
        z-index: 10; }
        .wrapper .main .main-up .slide .img-next img {
          width: 100%;
          height: auto; }
      .wrapper .main .main-up .slide .a-letter {
        display: inline-block;
        position: absolute;
        top: 25%;
        left: -175px;
        z-index: 10; }
        .wrapper .main .main-up .slide .a-letter img {
          width: 100%;
          height: auto; }
    .wrapper .main .main-up .fields {
      position: absolute;
      right: 0;
      top: 500px;
      z-index: -1; }
      .wrapper .main .main-up .fields img {
        width: 100%;
        height: auto; }
    .wrapper .main .clear-fix {
      clear: both; }
    .wrapper .main .main-down {
      padding-top: 105px;
      margin-top: 100px; }
      .wrapper .main .main-down .top-ft .team {
        overflow: hidden;
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.11);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.11); }
        .wrapper .main .main-down .top-ft .team .text {
          width: 40%;
          float: left;
          padding: 60px;
          padding-bottom: 46px; }
          .wrapper .main .main-down .top-ft .team .text .note-right {
            margin-bottom: 30px; }
            .wrapper .main .main-down .top-ft .team .text .note-right span {
              font-family: SFDisplay-medium,sans-serif;
              font-weight: 600;
              font-size: 14px;
              text-transform: uppercase;
              vertical-align: middle; }
            .wrapper .main .main-down .top-ft .team .text .note-right .line {
              display: inline-block;
              width: 20px;
              height: 2px;
              background-color: #01b1e0;
              margin-right: 15px; }
          .wrapper .main .main-down .top-ft .team .text .title {
            font-family: SFDisplay-heavy,sans-serif;
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 40px; }
            .wrapper .main .main-down .top-ft .team .text .title::after {
              content: "";
              display: inline-block;
              width: 9px;
              height: 9px;
              background-color: #01b1e0;
              border-radius: 50%;
              margin-left: 2px; }
          .wrapper .main .main-down .top-ft .team .text .desc {
            font-family: SFDisplay-light,sans-serif;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 50px;
            text-align: justify; }
          .wrapper .main .main-down .top-ft .team .text .note-left:hover span a {
            color: green; }
          .wrapper .main .main-down .top-ft .team .text .note-left span {
            margin-right: 15px;
            vertical-align: middle; }
            .wrapper .main .main-down .top-ft .team .text .note-left span a {
              font-family: SFDisplay-bold,sans-serif;
              font-size: 14px;
              font-weight: bold;
              color: black; }
          .wrapper .main .main-down .top-ft .team .text .note-left .line {
            display: inline-block;
            width: 40px;
            height: 2px;
            background-color: #01b1e0; }
        .wrapper .main .main-down .top-ft .team .image {
          width: 60%;
          float: right; }
          .wrapper .main .main-down .top-ft .team .image img {
            width: 100%;
            height: auto; }
        .wrapper .main .main-down .top-ft .team .blue {
          position: absolute;
          right: -40px;
          bottom: -50px;
          width: 500px;
          height: 500px;
          background-color: #02b1df;
          z-index: -1; }
      .wrapper .main .main-down .top-ft .join {
        padding-left: 50px; }
        .wrapper .main .main-down .top-ft .join .note-right {
          margin-bottom: 30px; }
          .wrapper .main .main-down .top-ft .join .note-right span {
            font-family: SFDisplay-medium,sans-serif;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            vertical-align: middle; }
          .wrapper .main .main-down .top-ft .join .note-right .line {
            display: inline-block;
            width: 20px;
            height: 2px;
            background-color: #01b1e0;
            margin-right: 15px; }
        .wrapper .main .main-down .top-ft .join .title {
          font-family: SFDisplay-heavy,sans-serif;
          font-size: 42px;
          font-weight: bold;
          margin-bottom: 40px; }
          .wrapper .main .main-down .top-ft .join .title::after {
            content: "";
            display: inline-block;
            width: 9px;
            height: 9px;
            background-color: #01b1e0;
            border-radius: 50%;
            margin-left: 2px; }
        .wrapper .main .main-down .top-ft .join .desc {
          font-family: SFDisplay-light,sans-serif;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 25px;
          text-align: justify; }
        .wrapper .main .main-down .top-ft .join .note-left {
          margin-bottom: 50px; }
          .wrapper .main .main-down .top-ft .join .note-left:hover span a {
            color: green; }
          .wrapper .main .main-down .top-ft .join .note-left span {
            margin-right: 15px;
            vertical-align: middle; }
            .wrapper .main .main-down .top-ft .join .note-left span a {
              font-family: SFDisplay-bold,sans-serif;
              font-size: 14px;
              font-weight: bold;
              color: black; }
          .wrapper .main .main-down .top-ft .join .note-left .line {
            display: inline-block;
            width: 40px;
            height: 2px;
            background-color: #01b1e0; }
        .wrapper .main .main-down .top-ft .join .recuite .item {
          border-bottom: .1px solid gray;
          padding-bottom: 25px;
          margin-bottom: 30px;
          cursor: pointer; }
          .wrapper .main .main-down .top-ft .join .recuite .item:hover a {
            color: green; }
          .wrapper .main .main-down .top-ft .join .recuite .item:hover span i {
            color: green; }
          .wrapper .main .main-down .top-ft .join .recuite .item a {
            font-family: SFDisplay-heavy,sans-serif;
            color: black;
            font-size: 22px;
            font-weight: bold; }
          .wrapper .main .main-down .top-ft .join .recuite .item span {
            float: right; }
            .wrapper .main .main-down .top-ft .join .recuite .item span i {
              color: black; }
      .wrapper .main .main-down .list {
        width: 75%;
        margin: 0 auto;
        position: relative;
        padding-top: 110px;
        padding-bottom: 60px; }
        .wrapper .main .main-down .list .image img {
          max-width: 100%;
          height: auto; }
        .wrapper .main .main-down .list .text .title {
          font-family: SFDisplay-bold,sans-serif;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px; }
        .wrapper .main .main-down .list .text .desc {
          font-family: SFDisplay-medium,sans-serif;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 20px; }
        .wrapper .main .main-down .list .text .item {
          margin-bottom: 30px; }
          .wrapper .main .main-down .list .text .item img {
            display: inline-block;
            max-width: 100%;
            height: auto;
            margin-right: 30px; }
          .wrapper .main .main-down .list .text .item #img-fax {
            margin-right: 40px;
            padding-left: 5px; }
          .wrapper .main .main-down .list .text .item span {
            font-family: SFDisplay-bold,sans-serif;
            font-weight: bold; }
        .wrapper .main .main-down .list .address {
          padding-left: 70px; }
        .wrapper .main .main-down .list .contact {
          display: inline-block;
          float: right; }
    .wrapper .main .social {
      display: inline-block;
      background-color: #00184f;
      padding: 0 40px;
      padding-top: 40px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0; }
      .wrapper .main .social ul li {
        margin-bottom: 52px; }
        .wrapper .main .social ul li a {
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
          .wrapper .main .social ul li a:hover {
            color: white; }
          .wrapper .main .social ul li a i {
            font-size: 30px; }
  .wrapper .footer {
    width: 100%;
    background-color: #00184f;
    padding: 48px 0; }
    .wrapper .footer .container-footer .content {
      overflow: hidden; }
      .wrapper .footer .container-footer .content .copy-right {
        float: left;
        font-family: SFDisplay-light,sans-serif;
        color: #7ecfe1; }
      .wrapper .footer .container-footer .content .list {
        float: right; }
        .wrapper .footer .container-footer .content .list ul li {
          display: inline-block;
          margin-right: 83px; }
          .wrapper .footer .container-footer .content .list ul li:last-child {
            margin-right: 0; }
          .wrapper .footer .container-footer .content .list ul li a {
            font-size: 18px;
            color: white;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s; }
            .wrapper .footer .container-footer .content .list ul li a:hover {
              color: yellow; }

@media (min-width: 1920px) {
  .container-banner-down {
    width: 75%;
    margin: 0 auto; }
  .container-main {
    width: 1712px;
    max-width: 100%; }
  .container-footer {
    width: 1712px;
    max-width: 100%; } }

@media (max-width: 1919px) {
  .container-main {
    width: 1600px;
    max-width: 100%; }
  .container-footer {
    width: 1600px;
    max-width: 100%; }
  .wrapper .navigate {
    margin-bottom: 55px; }
  .wrapper .main .main-up .project {
    float: none;
    width: 100%; }
    .wrapper .main .main-up .project .note-right {
      text-align: center;
      margin-bottom: 10px; }
    .wrapper .main .main-up .project .title {
      text-align: center; }
    .wrapper .main .main-up .project .detail {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 20px; }
  .wrapper .main .main-up .slide {
    float: none;
    width: 100%; }
    .wrapper .main .main-up .slide .img-next {
      right: 43px; }
    .wrapper .main .main-up .slide .a-letter {
      display: none; }
    .wrapper .main .main-up .slide .owl-nav .owl-next {
      right: 0; }
  .wrapper .main .main-up .fields {
    display: none; }
  .wrapper .main .main-down {
    padding-top: 100px;
    margin-top: 0; }
    .wrapper .main .main-down .top-ft .row .col-lg-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .wrapper .main .main-down .top-ft .row .col-lg-8 .team {
        margin-bottom: 100px; }
        .wrapper .main .main-down .top-ft .row .col-lg-8 .team .blue {
          display: none; }
    .wrapper .main .main-down .top-ft .row .col-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .wrapper .main .main-down .top-ft .row .col-lg-4 .join {
        padding-right: 50px;
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.11);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.11);
        padding-top: 50px;
        padding-bottom: 5px; }
        .wrapper .main .main-down .top-ft .row .col-lg-4 .join .recuite .item:last-child {
          border-bottom: none; }
    .wrapper .main .main-down .list {
      width: 80%; } }

@media (max-width: 1600px) {
  .container-footer {
    width: 1140px;
    max-width: 100%; }
  .wrapper .banner .navigate .center {
    display: none; }
  .wrapper .banner .navigate .right ul li:first-child {
    display: none; }
  .wrapper .banner .navigate .right ul .language {
    display: none; }
  .wrapper .banner .navigate .right ul li .icon {
    display: block;
    cursor: pointer; } }

@media (max-width: 1440px) {
  .wrapper .navigate .pd-0 .mobile {
    padding-right: 15px; } }

@media (max-width: 1200px) {
  .container-footer {
    width: 1000px;
    max-width: 100%; }
  .wrapper .navigate .pd-0 .content .line {
    display: none; }
  .wrapper .navigate .pd-0 .mobile .item .image {
    display: none; }
  .wrapper .main .main-up .project .detail .item .text .number {
    font-size: 35px; }
  .wrapper .main .main-up .project .detail .item .text .result {
    font-size: 17.98px; }
  .wrapper .main .main-down .list {
    width: 75%; }
    .wrapper .main .main-down .list .address {
      padding-left: 0; } }

@media (max-width: 1144px) {
  .container-main {
    width: 1000px;
    max-width: 100%; }
  .wrapper .main .main-down .top-ft .row .col-lg-8 .image-hidden {
    margin-bottom: 100px; }
    .wrapper .main .main-down .top-ft .row .col-lg-8 .image-hidden img {
      display: block !important; }
  .wrapper .main .main-down .top-ft .row .col-lg-8 .team .text {
    float: none;
    padding: 50px 50px;
    width: 100%; }
  .wrapper .main .main-down .top-ft .row .col-lg-8 .team .image {
    display: none; }
  .wrapper .main .main-down .list {
    width: 85%;
    padding-bottom: 30px; } }

@media (max-width: 1000px) {
  .wrapper .navigate .pd-0 .content.note {
    background-color: #1daf5e; }
  .wrapper .main .main-down .list {
    width: 100%; }
    .wrapper .main .main-down .list .social-mobile {
      display: block !important;
      margin-top: 10px;
      text-align: center; }
      .wrapper .main .main-down .list .social-mobile ul li {
        display: inline-block;
        padding: 0 10px; }
        .wrapper .main .main-down .list .social-mobile ul li a {
          font-size: 25px; }
  .wrapper .main .social {
    display: none; } }

@media (max-width: 991px) {
  .wrapper .banner .banner-down .container .title {
    font-size: 70px; }
    .wrapper .banner .banner-down .container .title #top {
      margin-bottom: -20px; }
  .wrapper .main .main-up .project .detail .item .text .number {
    font-size: 30px; }
  .wrapper .main .main-up .project .detail .item .text .result {
    font-size: 11.98px; }
  .wrapper .main .main-up .slide .img-next {
    right: 27px; }
    .wrapper .main .main-up .slide .img-next img {
      width: 150px; }
  .wrapper .main .main-up .slide .owl-nav .owl-next {
    height: 109px; }
  .wrapper .main .main-down .list {
    text-align: center;
    padding-top: 70px; }
    .wrapper .main .main-down .list .social-mobile {
      margin-bottom: 30px; }
    .wrapper .main .main-down .list .address {
      margin-bottom: 30px; }
    .wrapper .main .main-down .list .contact {
      float: none; }
    .wrapper .main .main-down .list .text .item img {
      display: none; }
  .wrapper .footer .container-footer .content .list ul li {
    margin-right: 40px; } }

@media (max-width: 767px) {
  .wrapper .banner .banner-down .container .title {
    font-size: 60px; }
  .wrapper .main .main-up .project .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .wrapper .main .main-up .project .detail .item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .wrapper .footer .container-footer .content {
    text-align: center; }
    .wrapper .footer .container-footer .content .copy-right {
      float: none;
      margin-bottom: 20px; }
    .wrapper .footer .container-footer .content .list {
      float: none; } }

@media (max-width: 414px) {
  .wrapper .banner .banner-down .container .title {
    font-size: 50px; }
  .wrapper .navigate {
    margin-bottom: 10px; }
  .wrapper .main .main-up .slide .img-next {
    right: 18px;
    bottom: 20px; }
    .wrapper .main .main-up .slide .img-next img {
      width: 100px; }
  .wrapper .main .main-up .slide .owl-nav .owl-next {
    bottom: 20px;
    height: 73px; }
  .wrapper .main .main-down {
    padding-top: 50px; }
    .wrapper .main .main-down .top-ft .row .col-lg-8 .image-hidden {
      margin-bottom: 50px; }
    .wrapper .main .main-down .top-ft .row .col-lg-8 .team {
      margin-bottom: 50px; }
  .wrapper .footer .container-footer .content .list ul li {
    margin-right: 0;
    display: block;
    margin-bottom: 10px; } }

@media (max-width: 320px) {
  .wrapper .banner .banner-down .container .desc {
    width: auto; } }
