*{
	box-sizing: border-box;
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
@font-face{
	font-family: 'SFDisplay';
	src:url('../fonts/font/SF-regular.ttf');
}
@font-face{
	font-family: 'SFDisplay-semibold';
	src:url('../fonts/font/SF-semibold.ttf') format('ttf');
	font-weight: bold;
}
@font-face{
	font-family: 'SFDisplay-medium';
	src:url('../fonts/font/SF-medium.ttf') format('ttf');
	font-weight: 500;
}
@font-face{
	font-family: 'SFDisplay-heavy';
	src:url('../fonts/font/SF-heavy.ttf') format('ttf');
	font-weight: bold;
}
@font-face{
	font-family: 'SFDisplay-light';
	src:url('../fonts/font/SF-light.ttf') format('ttf');
	font-weight: 400;
}
@font-face{
	font-family: 'SFDisplay-bold';
	src:url('../fonts/font/SF-bold.ttf') format('ttf');
	font-weight: bold;
}
body{
	margin:0;
	padding: 0;
	font-family: SFDisplay,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.wrapper{
	width: 100%;
	overflow: hidden;
	.banner{
		width: 100%;
		background-image:url('../images/banner.jpg');
		background-size:cover;
		background-position: center;
		color: white;
		height: 825px;
		padding-top:40px;
		.navigate{
			width: 95%;
			margin:0 auto;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin-bottom: 180px;
			transition: .5s;
			.logo{
				a{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			.center{
				display: flex;
				align-items: center;
				ul{
					li{
						display: inline-block;
						margin-left: 100px;
						&:first-child{
							margin-left: 0;
						}
						a{
							font-family: SFDisplay-semibold,sans-serif;
							font-size:18px;
							font-weight: bold;
							color: white;
						}
					}
				}
			}
			.right{
				display: flex;
				align-items: center;
				ul{
					li{
						display: inline-block;
						a{
							img{
								max-width: 100%;
								height: auto;
							}
						}
						.icon{
							color: white;
							font-size: 30px;
							display: none;
						}
					}
					.language{
						margin-left: 30px;
					}
				}
				#side-bar{
					z-index: 999;
					position:fixed;
					right:-334px;
					top: 0;
					height: 100%;
					overflow: hidden;
					transition: all .2s linear;
					&.active{
						right:0;
					}
					.close-sidebar{
						float: left;
						width: 50px;
					    height: 50px;
					    background: #464242;
					    color: white;
					    font-size: 25px;
					    text-align: center;
					    font-weight: 400;
					    cursor: pointer;
					}
					.menu{
						float: left;
						background-color:black;
						height: 100%;
						ul{
							li{
								display: block;
								padding-left:80px;
								padding-right:80px;
								margin-bottom: 20px;
								&:first-child{
									margin-top: 20px;
								}
								&:hover{
									a{
										color: gray;
									}
								}
								a{
									color: white;
									font-family: SFDisplay-semibold,sans-serif;
									font-size:30px;
									font-weight: 400;
								}
							}
						}
					}
				}
			}
		}
		#navigate{
			transition: .5s;
			&.active{
				transition: .5s;
				position: fixed;
			    width: 100%;
			    background-color: #73545987;
			    top: 0;
			    z-index: 99;
			    padding: 10px 50px;
			}
		}
		.banner-down{
			.container{
				.title{
					font-weight: 600;
					font-size:98px;
					margin-bottom:60px;
					display: inline-block;
					#top{
						margin-bottom: -50px;
						&::after{
							content: "";
							width: 15px;
							height: 15px;
							display: inline-block;
							background-color:#f26522;
							border-radius: 50%;
							margin-left: -10px;
						}
					}
				}
				.desc{
					font-size:20px;
					width: 380px;
					display: inline-block;
				}
			}
		}
	}
	.navigate{
		margin-bottom: 105px;
		.pd-0{
			padding:0;
			.content{
				width: 100%;
				background-color: #dfd9da;
				height: 256px;
				padding-left:55px;
				padding-top:20px;
				img{
					max-width: 100%;
					height: auto;
					margin-bottom: 27px;
				}
				.item{
					.text{
						margin-bottom: 35px;
						.title{
							font-family: SFDisplay-semibold,sans-serif;
							font-size:24px;
							font-weight: bold;
						}
						.desc{
							font-family: SFDisplay-medium,sans-serif;
							font-weight:500;
						}
					}
				}
				.line{
					width: 30px;
					height: 5px;
					background-color:#ff9400;
				}
			}
			.mobile{
				background-color: #e39c55;
				padding-right:85px;
				.item{
					overflow: hidden;
					.text{
						float: left;
					}
					.image{
						float: right;
						img{
							width: 100%;
							height:auto;
						}
					}
				}
			}
		}
	}
	.main{
		width: 100%;
		position:relative;
		.main-up{
			
			.project{
				width: 31%;
				float: left;
				padding-top:50px;
				.note-right{
					margin-bottom: 60px;
					span{
						font-family: SFDisplay-medium,sans-serif;
						font-weight:600;
						font-size: 14px;
						text-transform: uppercase;
						vertical-align: middle;
					}
					.line{
						display: inline-block;
						width: 20px;
						height: 2px;
						background-color:#01b1e0;
						margin-right:15px;

					}
				}
				.title{
					font-family: SFDisplay-heavy,sans-serif;
					font-size: 42px;
					font-weight: bold;
					margin-bottom: 60px;
					&::after{
						content: "";
						display: inline-block;
						width: 9px;
						height: 9px;
						background-color:#01b1e0;
						border-radius:50%;
						margin-left: -7px;
					}
				}
				.detail{
					display: flex;
					flex-direction: column;
					.item{
						margin-bottom: 80px;
						display: flex;
						flex-direction: row;
						align-items:center;
						.icon{
							margin-right: 30px;
							img{
								max-width: 100%;
								height: auto;
							}
						}
						.text{
							.number{
								font-family: SFDisplay-semibold,sans-serif;
								font-size:50px;
								font-weight: bold;
								color: #01b1e0;
							}
							.result{
								font-family: SFDisplay,sans-serif;
								font-size:19.98px;
								font-weight: 400;
								color: #242f4b;
							}
						}
					}
				}
			}
			.slide{
				width: 69%;
				float: left;
				position:relative;
				.owl-nav{
					.owl-prev{
						display: none;
					}
					.owl-next{
						content: url('../images/button_next.png');
						display: inline-block;
						position:absolute;
						bottom:45px;
						right: -44px;
					}
				}
				.img-next{
					display: inline-block;
					position:absolute;
					bottom:45px;
					right: 0;
					z-index: 10;
					img{
						width: 100%;
						height: auto;
					}
				}
				.a-letter{
					display: inline-block;
				    position: absolute;
				    top: 25%;
				    left: -175px;
				    z-index: 10;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			.fields{
				position:absolute;
				right:0;
				top:500px;
				z-index: -1;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
		.clear-fix{
			clear: both;
		}
		.main-down{
			padding-top:105px;
			margin-top: 100px;
			.top-ft{
				.team{
					overflow: hidden;
					box-shadow: 0 0 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.11);

					.text{
						width: 40%;
						float: left;
						padding:60px;
						padding-bottom: 46px;
						.note-right{
							margin-bottom: 30px;
							span{
								font-family: SFDisplay-medium,sans-serif;
								font-weight:600;
								font-size: 14px;
								text-transform: uppercase;
								vertical-align: middle;
							}
							.line{
								display: inline-block;
								width: 20px;
								height: 2px;
								background-color:#01b1e0;
								margin-right:15px;

							}
						}
						.title{
							font-family: SFDisplay-heavy,sans-serif;
							font-size: 42px;
							font-weight: bold;
							margin-bottom: 40px;
							&::after{
								content: "";
								display: inline-block;
								width: 9px;
								height: 9px;
								background-color:#01b1e0;
								border-radius:50%;
								margin-left: 2px;
							}
						}
						.desc{
							font-family: SFDisplay-light,sans-serif;
							font-size: 20px;
							font-weight: 400;
							margin-bottom: 50px;
							text-align:justify;
						}
						.note-left{
							&:hover{
								span{
									a{
										color: green;
									}
								}
							}
							span{
								margin-right: 15px;
								vertical-align:middle;
								a{
									font-family: SFDisplay-bold,sans-serif;
									font-size: 14px;
									font-weight: bold;
									color: black;
								}
							}
							.line{
								display: inline-block;
								width: 40px;
								height: 2px;
								background-color:#01b1e0;
							}
						}
					}
					.image{
						width: 60%;
						float: right;
						img{
							width: 100%;
							height: auto;
						}
					}
					.blue{
						position:absolute;
						right:-40px;
						bottom:-50px;
						width: 500px;
						height: 500px;
						background-color:#02b1df;
						z-index: -1;
					}
				}
				.join{
					padding-left:50px;
					.note-right{
						margin-bottom: 30px;
						span{
							font-family: SFDisplay-medium,sans-serif;
							font-weight:600;
							font-size: 14px;
							text-transform: uppercase;
							vertical-align: middle;
						}
						.line{
							display: inline-block;
							width: 20px;
							height: 2px;
							background-color:#01b1e0;
							margin-right:15px;

						}
					}
					.title{
						font-family: SFDisplay-heavy,sans-serif;
						font-size: 42px;
						font-weight: bold;
						margin-bottom: 40px;
						&::after{
							content: "";
							display: inline-block;
							width: 9px;
							height: 9px;
							background-color:#01b1e0;
							border-radius:50%;
							margin-left: 2px;
						}
					}
					.desc{
						font-family: SFDisplay-light,sans-serif;
						font-size: 20px;
						font-weight: 400;
						margin-bottom: 25px;
						text-align: justify;
					}
					.note-left{
						&:hover{
							span{
								a{
									color: green;
								}
							}
						}
						margin-bottom: 50px;
						span{
							margin-right: 15px;
							vertical-align:middle;
							a{
								font-family: SFDisplay-bold,sans-serif;
								font-size: 14px;
								font-weight: bold;
								color: black;
							}
						}
						.line{
							display: inline-block;
							width: 40px;
							height: 2px;
							background-color:#01b1e0;
						}
					}
					.recuite{
						.item{
							border-bottom:.1px solid gray;
							padding-bottom:25px;
							margin-bottom: 30px;
							cursor: pointer;
							&:hover{
								a{
									color: green;
								}
								span{
									i{
										color: green;
									}
								}
							}
							a{
								font-family: SFDisplay-heavy,sans-serif;
								color: black;
								font-size: 22px;
								font-weight: bold;
							}
							span{
								float: right;
								i{
									color: black;
								}
							}
						}
					}
				}
			}
			.list{
				width: 75%;
				margin:0 auto;
				position: relative;
				padding-top:110px;
				padding-bottom: 60px;
				.image{
					img{
						max-width: 100%;
						height: auto;
					}
				}
				.text{
					.title{
						font-family: SFDisplay-bold,sans-serif;
						font-size:24px;
						font-weight: bold;
						margin-bottom: 10px;
					}
					.desc{
						font-family: SFDisplay-medium,sans-serif;
						font-size:14px;
						font-weight: 500;
						margin-bottom: 20px;
					}
					.item{
						margin-bottom: 30px;
						img{
							display: inline-block;
							max-width: 100%;
							height: auto;
							margin-right: 30px;
						}
						#img-fax{
							margin-right: 40px;
							padding-left:5px;
						}
						span{
							font-family: SFDisplay-bold,sans-serif;
							font-weight: bold;
						}
					}
				}
				.address{
					padding-left:70px;
				}
				.contact{
					display: inline-block;
					float: right;
				}
			}
		}
		.social{
			display: inline-block;
		    background-color: #00184f;
		    padding: 0 40px;
		    padding-top: 40px;
		    text-align: center;
		    position: absolute;
		    left: 0;
		    bottom: 0;
			ul{
				li{
					margin-bottom: 52px;
					a{
						transition: .4s;
						&:hover{
							color: white;
						}
						i{
							font-size: 30px;
						}
					}
				}
			}
		}
	}
	.footer{
		width: 100%;
		background-color: #00184f;
		padding:48px 0;
		.container-footer{
			.content{
				overflow: hidden;
				.copy-right{
					float: left;
					font-family:SFDisplay-light,sans-serif;
					color: #7ecfe1;

				}
				.list{
					float: right;
					ul{
						
						li{
							display: inline-block;
							margin-right: 83px;
							&:last-child{
								margin-right: 0;
							}
							a{
								font-size:18px;
								color: white;
								transition:.4s;
								&:hover{
									color: yellow;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1920px) {
	.container-banner-down{
		width: 75%;
		margin:0 auto;
	}
	.container-main{
		width: 1712px;
		max-width: 100%;
	}
	.container-footer{
		width: 1712px;
		max-width: 100%;
	}
}

@media (max-width: 1919px) {
	.container-main{
		width: 1600px;
		max-width: 100%;
	}
	.container-footer{
		width: 1600px;
		max-width: 100%;
	}
	.wrapper{
		.navigate{
			margin-bottom: 55px;
		}
		.main{
			.main-up{
				.project{
					float: none;
					width: 100%;
					.note-right{
						text-align:center;
						margin-bottom: 10px;
					}
					.title{
						text-align:center;
					}
					.detail{
						flex-direction: row;
						justify-content: space-between;
						margin-bottom: 20px;
					}
				}
				.slide{
					float: none;
					width: 100%;
					.img-next{
						right: 43px;
					}
					.a-letter{
						display: none;
					}
					.owl-nav{
						.owl-next{
							right: 0;
						}
					}
				}
				.fields{
					display: none;
				}
			}
			.main-down{
				padding-top:100px;
				margin-top: 0;
				.top-ft{
					.row{
						.col-lg-8{
							flex: 0 0 100%;
							max-width: 100%;
							.team{
								margin-bottom: 100px;
								.blue{
									display: none;
								}
							}
						}
						.col-lg-4{
							flex: 0 0 100%;
							max-width: 100%;
							.join{
								padding-right:50px;
								box-shadow:0 0 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.11);
								padding-top:50px;
								padding-bottom:5px;
								.recuite {
									.item{
										&:last-child{
											border-bottom:none;
										}
									}
								}
							}
						}
					}
				}
				.list{
					width: 80%;
				}
			}
		}
	}
}
@media (max-width: 1600px) {
	.container-footer{
		width: 1140px;
		max-width: 100%;
	}
	.wrapper{
		.banner{
			.navigate{
				.center{
					display: none;
				}
				.right{
					ul{
    					li:first-child{
							display: none;
    					}
    					.language{
    						display: none;
    					}
    					li{
    						.icon{
	    						display: block;
	    						cursor: pointer;
	    					}
    					}
    				}
				}
			}
		}
	}
}
@media (max-width: 1440px) {
	.wrapper{
		.navigate {
			.pd-0{
				.mobile{
					padding-right:15px;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.container-footer{
		width: 1000px;
		max-width: 100%;
	}
	.wrapper{
		.navigate{
			.pd-0{
				.content{
					.line{
						display: none;
					}
				}
				.mobile {
					.item{
						.image{
							display: none;
						}
					}
				}
			}
		}
		.main{
			.main-up{
				.project{
					.detail{
						.item{
							.text{
								.number{
									font-size: 35px;
								}
								.result{
									font-size: 17.98px;
								}
							}
						}
					}
				}
			}
			.main-down{
				.list{
					width: 75%;
					.address{
						padding-left:0;
					}
				}
			}
		}
	}
}
@media (max-width: 1144px) {
	.container-main{
		width: 1000px;
		max-width: 100%;
	}
	.wrapper{
		.main{
			.main-down{
				.top-ft{
					.row{
						.col-lg-8{
							.image-hidden{
								margin-bottom: 100px;
								img{
									display: block!important;
								}
							}
							.team{
								.text{
									float: none;
									padding:50px 50px;
									width: 100%;
									
								}
								.image{
									display: none;
								}
							}
						}
					}
				}
				.list{
					width: 85%;
					padding-bottom:30px;
				}
			}
		}
	}
}
@media (max-width: 1000px) {
	.wrapper{
		.navigate{
			.pd-0{
				.content{
					&.note{
						background-color:#1daf5e;
					}
				}
			}
		}
		.main{
			.main-down{
				.list{
					width: 100%;
					.social-mobile{
						display: block!important;
						margin-top:10px;
						text-align:center;
						ul{
							li{
								display: inline-block;
								padding: 0 10px;
								a{
									font-size: 25px;
								}
							}
						}
					}
				}
			}
			.social{
				display: none;
			}
		}
	}
}
@media (max-width: 991px) {
	.wrapper{
		.banner{
			.banner-down{
				.container{
					.title{
						font-size: 70px;
						#top{
							margin-bottom: -20px;
						}
					}
				}
			}
		}
		.main{
			.main-up{
				.project{
					.detail{
						.item{
							.text{
								.number{
									font-size: 30px;
								}
								.result{
									font-size: 11.98px;
								}
							}
						}
					}
				}
				.slide{
					.img-next{
						right: 27px;
						img{
							width: 150px;
						}
					}
					.owl-nav{
						.owl-next{
							height: 109px;
						}
					}
				}
			}
			.main-down{
				.list{
					text-align:center;
					padding-top: 70px;
					.social-mobile{
						margin-bottom: 30px;
					}
					.address{
						margin-bottom: 30px;
					}
					.contact{
						float: none;
					}
					.text{
						.item{
							img{
								display: none;
							}
						}
					}
				}
			}
		}
		.footer{
			.container-footer{
				.content{
					.list{
						ul{
							li{
								margin-right: 40px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.wrapper{
		.banner{
			.banner-down{
				.container{
					.title{
						font-size: 60px;
					}
				}
			}
		}
		.main{
			.main-up{
				.project{
					.detail{
						flex-direction:column;
						.item{
							justify-content: center;
						}
					}
				}
			}
		}
		.footer{
			.container-footer{
				.content{
					text-align:center;
					.copy-right{
						float: none;
						margin-bottom: 20px;
					}
					.list{
						float: none;
					}
				}
			}
		}
	}
}
@media (max-width: 414px) {
	.wrapper{
		.banner{
			.banner-down{
				.container{
					.title{
						font-size: 50px;
					}
				}
			}
		}
		.navigate{
			margin-bottom: 10px;
		}
		.main{
			.main-up{
				.slide{
					.img-next{
						right: 18px;
						bottom:20px;
						img{
							width: 100px;
						}
					}
					.owl-nav{
						.owl-next{
							bottom:20px;
							height: 73px;
						}
					}
				}
			}
			.main-down{
				padding-top:50px;
				.top-ft{
					.row{
						.col-lg-8{
							.image-hidden{
								margin-bottom: 50px;
							}
							.team{
								margin-bottom: 50px;
							}
						}
					}
				}
			}
		}
		.footer{
			.container-footer{
				.content{
					.list{
						ul{
							li{
								margin-right: 0;
								display: block;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.wrapper{
		.banner{
			.banner-down{
				.container{
					.desc{
						width: auto;
					}
				}
			}
		}
	}
}